.navbar {
  position: sticky;
  top: 0;
  background-color: var(--white);
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.navbar .nav-title-large {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--size-32);
  font-size: var(--fontsize-m);
}

/* Dropdown */
.navbar .caret {
  margin-left: var(--size-8);
}
.navbar .nav-dropdown {
  position: relative;
  display: inline-block;
  color: var(--gray-7);
}
.navbar .nav-dropdown-list {
  display: none;
  position: absolute;
  padding: var(--space-16);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-16);
  z-index: 1;

  border-radius: var(--corner-s);
  border: 1px solid var(--gray-2,);
  background: var(--white);
  box-shadow: 0px 4px 6px 3px rgba(109, 109, 119, 0.05);
}
.navbar .nav-dropdown:hover .nav-dropdown-list {
  display: block;
}
.navbar .nav-dropdown-list a {
  display: block;
  padding: var(--size-12) var(--size-16);
  text-decoration: none;
  text-wrap: nowrap;
}

@media (max-width: 768px) {
  .navbar .nav-title-large {
    font-size: 2.5rem;
    letter-spacing: 0.12rem;
  }
  .navbar .nav-links {
    font-size: var(--fontsize-s);
    gap: var(--size-24);
  }
  .navbar .caret {
    margin-left: var(--size-4);
  }
  .navbar ul {
    padding: 0;
  }
}

@media (max-width: 618px) {
  .navbar .nav-title-large {
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
  }
  .navbar .nav-links {
    font-size: var(--fontsize-xs);
    gap: var(--size-16);
  }
  .navbar .caret {
    margin-left: 0;
  }
  .navbar ul {
    padding: 0;
  }
}

@media (max-width: 555px) {
  .navbar {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: stretch;
  }
  .navbar .nav-title-large {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
  }
  .navbar .nav-links {
    flex-direction: row;
    width: -webkit-fill-available;
    justify-content: flex-end;
  }
  .navbar ul {
    padding: 0;
  }
}  