:root {
  /* Colors */
  --white: #FFFFFF;
  --accent: #FFED62;

  --gray-1: #F6F5F8;
  --gray-2: #EBEAEF;
  --gray-3: #DBDAE2;
  --gray-4: #CCCAD4;
  --gray-5: #BCBBC7;
  --gray-6: #94949F;
  --gray-7: #6D6D77;
  --gray-8: #47484E;
  --gray-9: #222326;

  --blue-1: #F6F2FF;
  --blue-2: #D7CBFF;
  --blue-3: #B2A2FB;
  --blue-4: #8777F2;
  --blue-5: #564CE0;
  --blue-6: #2928B2;
  --blue-7: #161B83;
  

  /* Sizes */
  --size-0: 0rem;
  --size-2: 0.125rem;
  --size-4: 0.25rem;
  --size-8: 0.5rem;
  --size-12: 0.75rem;
  --size-16: 1rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  --size-56: 3.5rem;
  --size-64: 4rem;
  --size-72: 4.5rem;
  --size-80: 5rem;

  --corner-xs: 4px;
  --corner-s: 8px;
  --corner-m: 12px;
  --corner-l: 16px;
  --corner-xl: 28px;
  --corner-full: 1000px;

  --fontsize-xs: 0.875rem;  /* 14px */
  --fontsize-s: 1rem;       /* 16px */
  --fontsize-m: 1.25rem;    /* 20px */
  --fontsize-l: 1.5rem;     /* 24px */

  --fontweight-reg: 400;
  --fontweight-bold: 700;
}

.figtree {
  font-family: var(--figtree);
  font-optical-sizing: auto;
  font-weight: var(--fontweight-reg);
  font-size: var(--fontsize-m);
  font-style: normal;
}
.regular { font-weight: var(--fontweight-reg); }
.bold { font-weight: var(--fontweight-bold); }
.fontsize-xs { font-size: var(--fontsize-xs); }
.fontsize-s { font-size: var(--fontsize-s); }
.fontsize-m { font-size: var(--fontsize-m); }
.fontsize-l { font-size: var(--fontsize-l); }

.dm-serif-text {
  font-family: var(--dmSerifText);
  font-weight: var(--fontweight-reg);
  font-size: 2rem;
  font-style: normal;
}

h1, h2, h3 {
  font-family: var(--dmSerifText);
  font-weight: var(--fontweight-reg);
  font-style: normal;
  text-decoration: none;
}
h1 { font-size: 2.25rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

body {
  font-family: var(--figtree);
  color: var(--gray-9);
  background: var(--white);
}
a {
  text-decoration: none;
  color: var(--gray-7);
  -webkit-transition: color .2s;
  -moz-transition:    color .2s;
  -ms-transition:     color .2s;
  -o-transition:      color .2s;
  transition:         color .2s;
}
a:hover{
  color: var(--gray-9);
}